@import "~bootstrap/scss/bootstrap.scss";
.stickArea{
    display: flex;
    justify-content: center;
}
.vl{

    border-left: 6px solid black;
    height: 4rem;
    top: 0;
}
.container{
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.light {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 opacity: 0.5;
}

.red{
    background-color: red;
    margin-bottom: 0.5rem;
}
.yellow{
    background-color: yellow;
    margin-bottom: 0.5rem;
}
.green{
    background-color: green;
    margin-bottom: 0.5rem;
}
.active{
    opacity: 1;
}